@model IEnumerable<WebApplication4.Models.student>
<h1>STUDENTS DATA</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>GENDER</th>
            <th>CLASS</th>
            <th>FEES</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.name</td>
            <td>@item.gender</td>
            <td>@(item.@class)</td>
            <td>@item.fees</td>
        </tr>
    }
</table>
